// Parentheze Theme

/*-------------------------------------------------
 * COLORS
 *------------------------------------------------- */

// Scheme
$purple : #1f0046;
$yellow : #F0CA7C;
$lightyellow : #ffd685;
$fushia : #7341FF;
$lightfushia: #6026ff;
$pink: #c84689;
$lightblue : #25afb0;
$gold : #fbb042;

// Gray scale
$lightgrey : #d3d3d3;
$mediumgrey : #818181;
$darkgrey : #1e1e20;

