.profil-detailed,.profil-01 ,.profil-me{
	display: none;
}
.topheader{
	margin-top: 40px;
	margin-bottom: 60px;
}
p{
	font-family: "Open sans", sans-serif;
	font-weight: 300;
	color: white;
	letter-spacing: 1px;
	font-size: 12px;
}
.image-filter{
	background-color: rgba(67,44,148,0.1);
	z-index: 1;
}
.display-none{
	display: none;
}
/*------------------------------CARD------------------------------*/

/* FOR XS DEVICE */
.column-me{
	margin-bottom: 60px;
}
.title-where{
	margin-bottom: 40px;
}
.card-profil{
	position: relative;
	background-color: white;
	text-align: center;
	color:#27282d;
	height: 290px;/*390px*/
	width: 195px;
	cursor: pointer;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
/* CENTER CARD ON THE COLUMN */
.padding1pr{
	padding-right: 1%;
	padding-left: 1%;
}
.card-profil-checked{
	background-color: #7343ff;
}
.card-image, .card-image-filter{
	width: 185px;
	height:135px;
	margin-bottom: 10px;
}
.card-title{
  font-size: 16px;
  color: black;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top: 8px;
}
.card-bottom{
	position: absolute;
	top:190px;
	left:0px;
	height: 35px;
	width:100%;
}
.card-title{
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
/* STICK JOURNAL TO MAIN SELF CARD*/
.card-profil-me{
	margin-bottom: 0px;
}
.card-image-filter{
	position: absolute;
	top: 5px;
	left: 5px;
}
.reputation{
  font-size: 12px;
  color: #70bb56;
}
.distance{
  font-size: 12px;
  color: #1e1e20;
  line-height: 1.3;
}
/*.favorite{
	position: absolute;
	top: 2px;
	left:2px;
	width: 47px;
	height: 43px;
	background-image: url("../images/favorite.png");
	z-index: 1;
}*/
/*------------------------------JOURNAL------------------------------*/
.journal-card{
	width: 260px;
}
.journal-validation-active{
	display: block;
}
.journal-card{
	position: relative;
	background-color: #25afb0;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	padding: 15px;
	width: 195px;
}
.journal-title{
	font-weight: 700;
	margin-bottom: 10px;
}
.journal-detail{
	position: absolute;
	top:110px;
	width: 90%;
	left: 10px;
	font-weight: 700;
	border-top: 1px white solid;
	padding: 10px;
}
/*------------------------------BUTTONS-----------------------------*/
.request{
	position: fixed;
	top: 25px;
	right: 4%;
	z-index: 0;
}
.btn-container img{
	margin-bottom: 5px;
	display: block;

}
@media (max-device-width:768px){
.btn-container{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}
}
@media (max-device-width:375px){
.btn-container{
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 1;
}
}
@media (min-device-width:769px){
.btn-container{
	position: absolute;
	right:25px;
	top: 10px;
	z-index: 2;
}
}
.request p{
	position: absolute;
	left:-255px;
	top: 18px;
	color: white;
	font-size: 12px;
	letter-spacing: 2px;
}
@media (max-device-width:414px){
.request p{
	display: none;
}
}
/*------------------------------    CONTACT   ------------------------------*/
@media (max-device-width: 414px) {
.contact{
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background-color: #c84689;
	padding: 10px;
	z-index: 4;
	border-radius: 5px;
	cursor: pointer;
}
.contact-control{
	border: 0px;
	border-radius: 5px;
	padding: 10px;
	height: 400px;
	width: 100%;
	font-size:13px;
	color: #7f7f87;
	font-family: "Open sans", sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}
}
@media (min-device-width: 415px) {
.contact{
	display: none;
	position: fixed;
	bottom: -10px;
	right: 4%;
	width: 320px;
	height: 220px;
	background-color: #c84689;
	padding: 10px;
	z-index: 3;
	border-radius: 5px;
	cursor: pointer;
}
.contact-control{
	border: 0px;
	border-radius: 5px;
	padding: 10px;
	height: 160px;
	width: 100%;
	font-size:13px;
	color: #7f7f87;
	font-family: "Open sans", sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}
}
.contact-send{
	position: absolute;
	bottom: 25px;
	right: 25px;
}
.contact-cross{
	position: absolute;
	top: 12px;
	right: 15px;
}
/*----------------------------  PROFIL DETAILED  ----------------------------*/
.profil-detailed{
	background-color: white;
	padding: 50px;
	text-align: left;
}
@media (max-device-width: 768px){
	.profil-detailed{
		position: fixed;
		top:0px;
		left: 0px;
		overflow:scroll;
		height: 100%;
		padding: 3%;
		margin: 24px;
}
}
@media (max-device-width: 375px){
	.profil-detailed{
		position: fixed;
		top: 0px;
		left: 0px;
		overflow:scroll;
		height: 100%;
		padding: 3%;
		margin: 0px;
	}
	.padding-xs{
		padding: 30px;
	}
}
.profil-detailed h1 {
 	font-size: 24px;
 	color: black;
}
.profil-detailed p,
.profil-detailed label{
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	line-height:30px;
	font-weight: 300;
	color: black;
}
.profil-detailed h2{
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	color: black;
	font-weight: 700;
	margin-bottom: 20px;
}
.profil-detailed-description{
	margin-bottom: 30px;
}
@media (max-device-width:375px){
.profil-detailed-image{
	width: 100%;
	margin-bottom: 30px;
}
}
@media (min-device-width:376px){
.profil-detailed-image{
	width: 300px;
	height: 219px;
	margin-bottom: 30px;
}
}
.profil-detailed-image-filter{
	position: absolute;
}
.profil-detailed-medals img{
	margin-right: 15px;
	vertical-align:middle;
}
.profil-detailed-medals>.row>.col-xs-12,  .profil-detailed-medals>.row>.col-md-12{
	margin-bottom: 15px;
}
.profil-detailed-message img{
	margin: 10px 15px 30px 0px;
	vertical-align: middle;
}
.favorite-vignette{
 width: 100px;
 height: 73px;
 margin-right: 10px;
 margin-bottom: 10px;
}
.vignettes{
	margin-bottom: 30px;
}
.checkbox{
	margin: 30px 0px 30px 0px;

}
.checkbox p{
	vertical-align: middle;
	margin-top: -4px;
	margin-left: 10px;
}
/*------------------------------ NOTIFICATION ------------------------------*/
.notification{
	position:fixed;
	top: 0px;
	left:0px;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	z-index: 3;
}

.card-notification{
	position: relative;
	margin: auto;
	margin-top: 160px;
	cursor: pointer;
	z-index: 3
}
.card-invitation{
	background-color: white;
	text-align: center;
	background-image: url("../images/invitation_garde.jpg");
	background-position: 5px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
}
@media (max-device-width: 414px) {


}
@media (min-device-width: 415px) {
.card-invitation{
	height: 376px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 130px;
}
.card-invitation h1{
	color: white;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: 1px;
}
.card-invitation button{
	margin-top: 50px;
}
}
