/*-------------------------GRID--------------------------------*/

/*.col-lg-12{
	border: solid 1px white;
}

.mosaique, .col-lg-3, .col-md-6{
	border: solid 1px #8C8C8C;
}

.container{
	border: solid 1px #595959;
}

.request-frame .col-md-3{
	border: solid 1px #666666;
}*/


/*-------------------------FIN GRID--------------------------------*/