// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "config/_variables.css.scss";


body{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    color:white;
}

.body-app{
      background-color: $purple;
}
.background-header{
    background-image: url("header_parentheze.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: $purple;
}
/*------------------------------BOOTSTRAP CUSTOM------------------------------*/
@media (max-device-width: 414px) {
.hidden-xs-device{
    display: none;
}
.background-header{
    margin-bottom: 40px;
}
}
@media (min-device-width: 414px) {
.hidden-md-device-up{
    display: none;
}
.background-header{
    margin-bottom: 120px;
}
}
/*------------------------------HEADER----------------------------------------*/
.top-header{
    margin-top: 30px;
    margin-bottom: 50px;
}
.nav{
    float:right;
    margin-right: 0px;
    text-align:center;
}
.navbar-default{
    background-color: transparent;
    background-image: none;
    border:0px;
    box-shadow: none;
}
.navbar-brand{
    padding: 10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
    background-color: none;
    color: $yellow;
    background-color: transparent;
    background-image: none;
    border:0px;
    box-shadow: none;
}
#bs-example-navbar-collapse-1{
    border:0px;
    box-shadow: none;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    background-color: none;
    background-image: none;
    text-shadow: none;
}
#bs-example-navbar-collapsed ul.nav.navbar-nav li {
    color: #fff;
    background-color: black;
    background-image: none;
    text-shadow: none;
}
#bs-example-navbar-collapsed ul{
    width: 100%;
    border-radius: 5px;
}
 /*------------------- TEXT -------------------*/
a, a:visited, a:active{
    text-decoration: none;
    color: #fff;
    background-color: none;
    background-image: none;
    text-shadow: none;
}
a:hover{
    text-decoration: none;
    color:$lightgrey !important;
}
h1,p{
    color:$darkgrey;
}
h1{
   font-size: 70px;
   font-weight: 700;
}
p, li{
    font-size:16px;
    font-weight: 300;
}
li{
    list-style: none;
}
.inscription{
    background-color: $yellow;
    border-radius: 5px;
    display: none;
}
.features i{
    font-size: 36px;
    margin-bottom: 20px;
    color:$darkgrey;
}
.immersion h1, .immersion p{
    color:white;
}
.sous-titre{
    font-size: 22px;
    font-weight: 500   ;
}
/*------------------------------COMMONS------------------------------*/
.margin-left5{
    margin-left: 5px;
}
.margin-bot120{
    margin-bottom: 120px;
}
.margin-bot40{
    margin-bottom: 40px;
}
.margin-bot10{
    margin-bottom: 10px;
}
/*------------------------------IMMERSION------------------------------*/
@media (max-device-width: 414px) {
.immersion{
    margin-bottom: 20px;
}
.immersion{
    height: 400px;
}
}
.message{
    padding-top: 130px;
}
@media (min-device-width: 414px){
.immersion{
    height: 600px;
}
.message{
    padding-top: 360px;
}
}
.IMG_prototype{
    width:100%;
}

/*------------------------------PREVIEW---------------------------------------*/
.preview img{
    width: 100%;
}
/*------------------------------FEATURES--------------------------------------*/
@media (max-device-width: 414px) {
.features{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 40px;
}
}
@media (min-device-width: 415px) {
.features{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 40px;
}
}
.feature{
    border: 3px $yellow solid;
    border-radius: 5px;
    margin: 30px;
    min-height: 180px;
    padding: 50px;
}
/*.feature p{
    color: white;;
}*/
.pictos{
    width:36px;
    height:36px;
    margin-bottom: 30px;
}
/*-----------------------------------EXEMPLES---------------------------------*/
.content>.row>.col-md-6:nth-child(2){
    padding: 0px 50px 0px 50px;
}
.thumbnail{
    background-color: transparent;
    text-align: center;
    padding: 15px 15px 15px 15px;
    box-shadow: none;
    min-height: 220px;
    border:2px $lightgrey solid;
    border-radius: 15px;
    color:$mediumgrey;
    box-shadow: 2px 5px 0px #FAFAFA;
}
.thumbnail h1{
    font-size: 80px;
    font-weight: 700;
}
.exemples h3{
    color: $mediumgrey;
    text-align: center;
    margin-bottom: 30px;
}
.exemples .thumbnail-container:nth-child(1)>.thumbnail>h1{
    color: $yellow;
}
.exemples .thumbnail-container:nth-child(2)>.thumbnail>h1{
    color: $pink;
}
.exemples .thumbnail-container:nth-child(3)>.thumbnail>h1{
    color: $lightblue;
}
.exemples .thumbnail-container:nth-child(4)>.thumbnail>h1{
    color: $gold;
}
/*------------------------------HOME PAGE FOOTER------------------------------*/
.emoji{
    width: 16px;
    height: 16px;
}
.footer{
    position: relative;
    padding-top: 80px;
    background-image: url("/assets/friend_footer.jpg");
    background-size: cover;
    background-position: center;

}
.footer-menu ul{
    padding-left:0px;
}

.footer .container .row div{
    margin-bottom: 100px;
}
.footer p{
        color: white;
}
.footer li {
    list-style: none;
    margin-bottom: 50px;
}



