
.request-frame-1, .breadcrumb, .request-frame-2, .request-frame-3, .request-frame-4, .request-frame-5,.previous, .confirmer{
	display: none;
}
.breadcrumb{
	background-color:transparent;
	margin-bottom: 50px;
	text-transform: lowercase;
}
/*.breadcrumb li:nth-child(1){
	border: 1px solid red;
}*/
.request-title{
	color:white;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
.request-card{
	height: 360px;
	width: 220px;
	padding: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.request-invitation-frame img{
	height: 100px;
}
.request-card .row div{
	height: 120px;
}
.request-info{
	background-color: #362478;
	color:#734dff;
}
.request-card ul, .request-info ul{
	padding: 0px;
}



h1{
	font-size: 22px;
	color: #27282d;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 1.4;
	margin: 0px;
}
h2{
	font-size: 10px;
	color: #879999;
	font-weight: 300;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0px;
}
h3{
	font-size: 16px;
	color: #27282d;
	font-weight: 700;
	line-height: 2.4;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0px;
}

p, li p{
	font-size: 12px;
	color: #787880;
}
.request-info h1{
	color: white;
}
.request-frame-0 img{
	margin-top: 20px;
}

.request-invitation-frame  .card-profil h1, .request-frame-sharing .card-profil h1{
	padding-top: 30px;
}
.request-sharing-frame textarea{
	margin-top: 30px;
	height: 160px;
	margin-bottom: 30px;
}
.request-sharing-frame span img{
	height: 20px;

}
.btns{
	position: relative;
	margin-top: 50px;
/*	margin-bottom: 50px;*/
}
.btn-parentheze-violet{
	background-color: transparent;
	color: #734dff;
}
.btn-add{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -65px;
}
.btn-delete{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: 5px;
}
.btn-checked{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -30px;
	display: none;
}
@media (max-device-width: 414px) {
.btn-parentheze-violet{
	margin-bottom: 30px;
}
}
/* ------------- CARD PLAN ------------------- */
.price p{
	font-size: 64px;
	font-weight: 700;
}
.price-1{
	color:#25afb0;
}
 .price-2{
	color:#c64989;
}
 .price-3{
	color:#70bb56;
}
.price-4{
	color:#fff;
}
.price-5{
	color:#fbb042;
}
/* ------------- CARD DATE ------------------- */
.date{
	padding: 10px;
	padding-left: 35px;
	padding-right: 35px;
	width: 100%;
	height: 360px;
	text-align: center;
}
.date p{
	line-height: 25px;
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 20px;

}
.day{
	height: 45px;
}
.month{
	padding: 15px;
	height: 50px;
}
.yellow-background{
	background-color: #fbb042;
}
.glyphicon{
	color: #27282d;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: middle;
}
 


